<%include frontend1.ejs%>
<nav class="navbar  navbar-fixed-top" role="navigation" style=" font-family: OratorStd; font-size:20px; " >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
       <!--   <a class="navbar-brand " href="#">Uni Platform</a>-->
           <div id="navbar" class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
           <!--     <a href="#" style="color:white;">Account Settings</a> &nbsp;-->
                <a href="/logout" class="btn btn-warning " style="color:white;">Sign Out</a>
          </div>
          
          <ul class="nav  nav-tabs nav-justified" style="background-color:white;" >
            <li role="presentation"  ><a style="color: #455068; " href="/faculties">Facultati</a></li>
            <li role="presentation"  ><a style="color: #455068; " href="/courses">Cursuri</a></li>
            <!-- <li role="presentation" ><a style="color: #455068;" href="#">Situatia Scolara</a></li> -->
            <li role="presentation" ><a style="color: #455068;" href="/regulations">Regulament </a></li>
            <li role="presentation" ><a style="color: #455068;" href="/dashboard">Admin</a></li>
          </ul>
        </div>       
     
        </div>       
     </div>
    </nav>

    